<!DOCTYPE html>
<html>
<head>
    <title>Login Smart Lamp</title>
</head>
<body>
    <h2>Login Smart Lamp</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <p style="color:red;">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Username</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
        <br>
<a href="/register">Belum punya akun? Register</a>
<br><br>
<a href="/guest">Masuk sebagai Guest</a>


    </form>
</body>
</html>
